<div id="modalUpdatePassword" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content ">
			<form id="formUpdatePass" name="formUpdatePass" class="g-3" autocomplete="none">
				<div class="modal-header">
					<h5 class="modal-title">Alteração de senha</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body p-4">

					<div class="col-12 col-md-12">
						<label for="change_operator_pass" class="form-label required-label">Nova senha</label>
						<input id="url_req" name="url_req" type="hidden" value="{{ route().link('update-op-password') }}">
						<input id="change_operator_pass" class="form-control required" name="password" type="password" autocomplete="none">
					</div>
					<div class="col-12 col-md-12">
						<label for="confirm_change_pass" class="form-label required-label">Confirma senha</label>
						<input id="confirm_change_pass" class="form-control required" name="confirm_password" type="password" autocomplete="none">
					</div>

					<div class="col-12 flex flex-column">
						<div class="flex gap-1 align-items-centers w-12 checkPass ctmNumber">
							<i class="fa-regular fa-check text-green-500 w-1rem mx-1 text-2xl chkPass"></i>
							<i class="fa-regular fa-close text-red-500 w-1rem mx-1 text-2xl chkRej"></i>
							<span>Pelo menos um número</span>
						</div>
						<div class="flex gap-1 align-items-centers w-12 checkPass ctmMin">
							<i class="fa-regular fa-check text-green-500 w-1rem mx-1 text-2xl chkPass"></i>
							<i class="fa-regular fa-xmark text-red-500 w-1rem mx-1 text-2xl chkRej"></i>
							<span>Pelo menos uma letra minúscula</span>
						</div>
						<div class="flex gap-1 align-items-centers w-12 checkPass ctmMai">
							<i class="fa-regular fa-check text-green-500 w-1rem mx-1 text-2xl chkPass"></i>
							<i class="fa-regular fa-xmark text-red-500 w-1rem mx-1 text-2xl chkRej"></i>
							<span>Pelo menos uma letra maiúscula</span>
						</div>
						<div class="flex gap-1 align-items-centers w-12 checkPass ctmEsp">
							<i class="fa-regular fa-check text-green-500 w-1rem mx-1 text-2xl chkPass"></i>
							<i class="fa-regular fa-xmark text-red-500 w-1rem mx-1 text-2xl chkRej"></i>
							<span>Pelo menos um caracter especial</span>
						</div>
						<div class="flex gap-1 align-items-centers w-12 checkPass ctmQtd">
							<i class="fa-regular fa-check text-green-500 w-1rem mx-1 text-2xl chkPass"></i>
							<i class="fa-regular fa-xmark text-red-500 w-1rem mx-1 text-2xl chkRej"></i>
							<span>A partir de 8 caracteres</span>
						</div>
						<div class="flex gap-1 align-items-centers w-12 checkPass ctmSame">
							<i class="fa-regular fa-check text-green-500 w-1rem mx-1 text-2xl chkPass"></i>
							<i class="fa-regular fa-xmark text-red-500 w-1rem mx-1 text-2xl chkRej"></i>
							<span>As senhas coincidem</span>
						</div>
					</div>

				</div>
				<div class="modal-footer d-flex justify-content-between">
					<button onclick="CloseModalPassword()" type="button" class="btn btn-outline-danger">Cancelar</button>
					<button id="btnSalvarPassword" type="button" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>
