<div id="modalRadiusLog" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Radius Log</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body p-4"></div>

			<div class="modal-footer d-flex justify-content-between">
				<button onclick="CloseModal()" type="button" class="btn btn-outline-danger">
					Cancelar
				</button>
			</div>
		</div>
	</div>
</div>
