{% extends "layout_noauth.html" %} {% block css %}
<style>
  body {
    background-image: url("{{ constant('ASSETS_IMAGES') }}/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
  }
  .formsBox {
    width: 1050px;
    height: 550px;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    font-family: 'Poppins' !important;
  }
  .loginForm,
  .forgotForm {
    width: 40%;
    display: flex;
    flex-direction: column;
  }
  .areaImage {
    background-image: url("{{constant('ASSETS_IMAGES')}}/network.jpg");
    background-size: 100% 100%;
    background-position: center;
    width: 60%;
    height: 100%;
    right: 0;
    position: absolute;
    transition: all 0.3s;
  }
  .headerBox {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    font-family: 'Poppins', Arial !important;
  }
  .headerBox .title,
  .headerBox .subtitle {
    font-family: 'Poppins' !important;
    user-select: none;
  }

  .headerBox img {
    width: 80px;
    height: 80px;
    border-radius: 15px;
  }
  .caixaInputs,
  form {
    width: 100%;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapInput {
    width: 80%;
    margin: 10px 0px;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
  }
  .wrapInput input {
    outline: none;
    width: 100%;
    padding: 15px 0;
    padding-right: 35px;
    padding-left: 10px;
    background-color: transparent;
    border: 1.5px solid #999;
    height: inherit !important;
    border-radius: 5px;
    caret-color: rgb(var(--bs-primary-rgb));
  }
  .labelInput,
  .iconInput {
    position: absolute;
    pointer-events: none;
    transition: all 0.2s;
  }
  .labelInput {
    left: 8px;
    background-color: #fff;
    color: #999;
    padding: 0px 5px;
  }
  .iconInput {
    right: 10px;
    color: #999;
  }
  .input-float {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  .wrapInput input:focus:not(.invalid) {
    border-color: rgb(var(--bs-primary-rgb)) !important;
  }
  .wrapInput input:focus:not(.invalid) ~ .iconInput {
    color: rgb(var(--bs-primary-rgb));
  }
  .wrapInput input:focus ~ .labelInput,
  .wrapInput input:not(:placeholder-shown) ~ .labelInput,
  .wrapInput input:valid:not(:placeholder-shown) ~ .labelInput {
    transform: translateY(-27px);
    font-size: 0.75rem;
    color: rgb(var(--bs-primary-rgb));
  }
  .caixaAcoes {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    width: 80%;
    align-self: center;
  }
  .link:hover {
    text-decoration: underline;
    text-decoration-color: rgb(var(--bs-primary-rgb));
  }
  small {
    align-self: flex-start;
  }
  .error_label {
    align-self: center;
    width: 80%;
    margin-top: -10px;
  }

  @media screen and (width < 576px) {
    .loginForm,
    .forgotForm {
      width: 100%;
      position: absolute;
      flex-direction: column;
      transition: all 0.3s;
      right: 0;
    }
    .forgotForm {
      right: -100%;
    }
    .areaImage {
      display: none;
    }
    .formsBox {
      width: 90%;
      display: block;
    }
  }
</style>

{% endblock css %} {% block body %}

<div class="card formsBox shadow d-flex">
  <div class="loginForm">
    <form
      id="loginRealForm"
      autocomplete="none"
    >
      <div class="headerBox mt-4">
        <h2 class="mt-3 title">Login</h2>
        <h5 class="subtitle">Faça o login para entrar no sistema</h5>
      </div>
      <div class="caixaInputs">
        <div class="input-float">
          <div class="wrapInput">
            <input
              type="text"
              name="username"
              id="username"
              placeholder=" "
              autocomplete="none"
            />
            <label class="labelInput">Usuário</label>
            <i class="fa-regular fa-user iconInput fa-lg"></i>
          </div>
          <small class="pl-2 text-red-400 error_label hidden"></small>
        </div>
        <div class="input-float">
          <div class="wrapInput">
            <input
              type="password"
              name="password"
              id="password"
              placeholder=" "
              autocomplete="none"
            />
            <label class="labelInput">Senha</label>
            <i class="fa-regular fa-lock iconInput fa-lg"></i>
          </div>
          <small class="pl-2 text-red-400 error_label hidden"></small>
        </div>
      </div>
      <div class="caixaAcoes justify-content-between">
        <button
          type="submit"
          id="btnEntrar"
          class="btn btn-primary"
        >
          Entrar
        </button>
        <a
          id="forgotPassword"
          class="text-primary link"
          href="#"
          >Esqueci minha senha</a
        >
      </div>
    </form>
  </div>
  <div class="forgotForm">
    <form
      id="forgotRealForm"
      autocomplete="off"
    >
      <div class="headerBox mt-4">
        {# <img src="{{constant('ASSETS_IMAGES')}}/logo-ltc.jpg" /> #}
        <h2 class="mt-3 title">Esqueci minha senha</h2>
        <h5 class="subtitle">Insira um email válido</h5>
      </div>
      <div class="caixaInputs">
        <div class="input-float">
          <div class="wrapInput">
            <input
              id="email"
              name="email"
              type="text"
              placeholder=" "
            />
            <label class="labelInput">Email</label>
            <i class="fa-regular fa-envelope iconInput fa-lg"></i>
          </div>
          <small class="pl-2 text-red-400 error_label hidden"></small>
        </div>
      </div>
      <div class="caixaAcoes">
        <button
          id="btnForgotPassword"
          class="btn btn-primary"
        >
          Enviar
        </button>
        <a
          id="backLogin"
          class="text-primary link"
          href="#"
          >Fazer login</a
        >
      </div>
    </form>
  </div>
  <div class="areaImage bg-primary"></div>
</div>

{% endblock body %} {% block js %}
<script>
  const regEmail = /^(?!\s)[\w.-]+\@[\w-]+\.[a-zA-Z]{2,3}(\.[a-zA-z]{2,3})?$/;

  const validForgot = new JustValidate('#forgotRealForm', {
    errorLabelCssClass: ['hidden'],
    errorFieldCssClass: ['invalid'],
    focusInvalidField: false,
  });
  const validLogin = new JustValidate('#loginRealForm', {
    errorLabelCssClass: ['hidden'],
    errorFieldCssClass: ['invalid'],
    focusInvalidField: false,
  });

  validForgot
    .addField('#email', [
      {
        rule: 'required',
        errorMessage: 'Campo não pode ficar em branco',
      },
      {
        rule: 'customRegexp',
        value: regEmail,
        errorMessage: 'Email com formato inválido',
      },
    ])
    .onFail((e) => ErrorLabels(e))
    .onValidate(({ fields, isSubmitted }) => isSubmitted && ErrorLabels(fields))
    .onSuccess(function (e) {
      $('.error_label').addClass('hidden');
      onRequestForgottenPasseword();
    });

  validLogin
    .addField('#username', [
      {
        rule: 'required',
        errorMessage: 'Campo não pode ficar em branco',
      },
    ])
    .addField('#password', [
      {
        rule: 'required',
        errorMessage: 'Campo não pode ficar em branco',
      },
    ])
    .onFail((e) => ErrorLabels(e))
    .onValidate(({ fields, isSubmitted }) => isSubmitted && ErrorLabels(fields))
    .onSuccess(function (e) {
      $('.error_label').addClass('hidden');
      onLogin();
    });

  const onLogin = () => {
    let formInput = $('#loginRealForm').serializeObject();
      $.ajax({
        url: "{{ route().link('login-auth') }}",
        method: 'POST',
        data: formInput,
      }).done(function (data) {
        StartLoading();
        window.location.href = "{{route().link('home')}}";
      });
  }

  const onRequestForgottenPasseword = () => {
    let formInput = $('#forgotRealForm').serializeObject();
    $.ajax({
      url: `{{ route().link('forgot-password')|trim }}${formInput.email}`,
    }).done(function (data) {
      alerta(
        'Solicitação de senha realizada com sucesso. Aguarde alguns minutos e confira seu email para recuperação de senha.',
      );
      $('#backLogin').click();
    });
  };

  $('#forgotPassword').click(function () {
    if (window.innerWidth < 576) {
      $('.loginForm').css('right', '100%');
      $('.forgotForm').css('right', '0%');
    } else {
      $('.areaImage').css('right', '40%');
    }
  });

  $('#backLogin').click(function () {
    validForgot.refresh();
    $('.error_label').addClass('hidden');
    $('.forgotForm input').val('');
    if (window.innerWidth < 576) {
      $('.loginForm').css('right', '0%');
      $('.forgotForm').css('right', '-100%');
    } else {
      $('.areaImage').css('right', '0');
    }
  });
</script>
{% endblock js %}
