{% extends "layout.html" %} {% block css %}
<style>
  .dataTable td {
    vertical-align: middle !important;
  }
</style>

{% endblock css %} {% block body %} 
{{ include("Operators/modalFiltrosOperators.html") }} 
{{ include("Operators/modalFormOperators.html") }}

<!-- <section class="section"> -->
<div class="col-12">
  <div class="card">
    <div class="card-header d-flex flex-row justify-content-between align-items-center">
      <span class="text-title">Lista de operadores</span>
      <div>
        <button
          id="btnFiltros"
          class="btn btn-outline-info btn-sm"
        >
          Filtros
        </button>
        <button
          type="button"
          onClick="NewOperators()"
          class="btn btn-primary btn-sm"
        >
          Novo operador
        </button>
      </div>
    </div>
    <div class="card-body mt-4">
      <div class="row table-responsive">
        <table
          id="tableOperators"
          class="table table-sm table-striped table-bordered table-hover w-100 align-text-top"
        >
          <thead class="table-primary"></thead>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- </section> -->

{% endblock body %} {% block js %}
<script>
  const filtrosOperators = new bootstrap.Modal('#modalFiltrosOperators', modalOption);
  const formOperators = new bootstrap.Modal('#modalFormOperators', modalOption);

  const validOperators = new JustValidate('#formOperators', {
    // errorLabelCssClass: ['hidden'],
    errorFieldCssClass: ['invalid'],
    focusInvalidField: false,
  });

  validOperators
    .addField('#username', [
      {
        rule: 'required',
        errorMessage: 'Campo não pode ficar em branco',
      },
    ])
    .addField('#name', [
      {
        rule: 'required',
        errorMessage: 'Campo não pode ficar em branco',
      },
    ])
    .addField('#email', [
      {
        rule: 'required',
        errorMessage: 'Campo não pode ficar em branco',
      },
      {
        rule: 'customRegexp',
        value: /^[\w|\W]+\@[0-9a-zA-z-]+\.[a-zA-Z]{2,3}(\.[a-zA-z]{2,3})?$/,
        errorMessage: 'Formato de email inválido.',
      },
    ])
    .onSuccess(function () {
      confirmaAcao(
        `Confirma salvar o operador "${$('#username').val().toUpperCase()}"?`,
        SaveFormOperator,
        [],
      );
    });


  $(function () {
    GeraTabela();
    ModalDraggable();
    
    $('#filtro_status').select2({
      width: '100%',
      dropdownParent: $('#modalFiltrosOperators'),
      closeOnSelect: false,
    });
    $('#btnFiltros').click(() => filtrosOperators.show());
    $('#btnFiltrar').click(function () {
      GeraTabela();
      filtrosOperators.hide();
    });

  });

  const GeraTabela = () => {
    let form = $('#formFiltro').serializeObject();

    $.ajax({ url: "{{ route().link('list-operators') }}", method: 'POST', data: form }).done((resp) => {
      $('#tableOperators').DataTable({
        columns: [
          { data: 'id', title: '#', className: 'text-center ' },
          { data: 'name', title: 'Nome', className: 'text-center w-2' },
          { data: 'username', title: 'Operador', className: 'text-center ' },
          { data: 'email', title: 'E-mail', className: 'text-center ' },
          { data: 'status', title: 'Status', className: 'text-center ', render: renderStatus},
          {
            data: '',
            title: 'Ações',
            className: 'text-center',
            render: renderAcoes,
            orderable: false,
          },
        ],
        data: resp,
        order: [['0', 'asc']],
        destroy: true,
        buttons: ['pageLength', exportMenu('pdf', 'excelNumber')],
      });
    });
  };

  const renderStatus = (data) => {
    let status = '';
    switch (data) {
      case '1':
        status = `<span class="badge bg-success">Ativo</span>`;
        break;
      case '0':
        status = `<span class="badge bg-danger">Inativo</span>`;
        break;
    }

    return status;
  };

  const renderAcoes = (data, type, row) => {
    let botoes = '<div class="d-flex w-full justify-content-center gap-1">';

    if(row.id === "1"){
      if({{ GetSessao('id_usuario') }} === 1 ){
        botoes += `<button type='button' class='btn btn-outline-primary btn-sm rounded-circle' onclick="EditOperators(${row.id})" title='Editar operador'><i class="fa-regular fa-edit"></i></button>`;
      }
    }else{
      botoes += `<button type='button' class='btn btn-outline-primary btn-sm rounded-circle' onclick="EditOperators(${row.id})" title='Editar operador'><i class="fa-regular fa-edit"></i></button>`;
      if (row.status === '0') {
        botoes += `<button onclick="ConfirmToggleStatus(${row.id}, 1)" type='button' class='btn btn-outline-success btn-sm rounded-circle' title='Ativar operador'><i class="fa-regular fa-user-unlock"></i></button>`;
      } else {
        botoes += `<button onclick="ConfirmToggleStatus(${row.id}, 0)" type='button' class='btn btn-outline-danger btn-sm rounded-circle' title='Inativar operador'><i class="fa-regular fa-user-lock"></i></button>`;
      }
        botoes += `<button onclick="ConfirmRequestPassword(${row.id})" type='button' class='btn btn-outline-info btn-sm rounded-circle' title='Resetar senha do operador'><i class="fa-regular fa-refresh"></i></button>`;
    }
    botoes += '</div>';

    return botoes;
  };

  const EditOperators = (id_operator) => {
    document.forms['formOperators'].reset();

    $.ajax({ url: `{{ route().link('get-operator') }}${id_operator}` }).done((resp) => {
      validOperators.refresh();
      
      $('#modalFormOperators .modal-title').text('Alterar operador');
      popula_dados('#formOperators', resp);
      
      formOperators.show();
    });
  };

  const NewOperators = () => {
    document.forms['formOperators'].reset();
    validOperators.refresh();
    $('#id').val('');
    
    $('#modalformOperators .modal-title').text('Novo operador');
    formOperators.show();
  };

  const SaveFormOperator = () => {
    let id = $('#id').val();
    let form = new FormData($('#formOperators')[0]);
    let url = "";
    let method = "";

    if (id === '') {
      url = `{{ route().link('add-operator') }}`;
      method = "POST"
    } else {
      url = `{{ route().link('update-operator') }}`;
      method = "PUT"
    }

    $.ajax({
      url: url,
      type: method,
      dataType: 'json',
      data: form,
      processData: false,
      contentType: false,
    }).done((resp) => {
      SaveOperatorsDone();
    });
  };

  const SaveOperatorsDone = () => {
    GeraTabela();
    CloseModal();
    alerta('Operador salvo com sucesso.', 'Sucesso', 'success');
  };

  const CloseModal = () => {
    formOperators.hide();
    validOperators.refresh();
  };

  const ConfirmRequestPassword = (id_operator) => {
    confirmaAcao('Confirma enviar a redefinição de senha do operador?', RequestPassword, id_operator);
  };

  const RequestPassword = (id_operator) => {
    $.ajax({ url: `{{ route().link('request-op-reset') }}${id_operator}` }).done((resp) => {
      alerta('Solicitação efetuada com sucesso.<br/><br/>Um email foi enviado para o operador.', 'Sucesso', 'success');
    });
  }

  const ConfirmToggleStatus = (id_operator, status) => {
    let dados = { id_operator, status };
    confirmaAcao('Confirma alterar status do operador?', ToggleStatusOperators, dados);
  };

  const ToggleStatusOperators = (dados) => {
    let { id_operator, status } = dados;

    $.ajax({ url: `{{route().link('update-op-status')}}${id_operator}/${status}`, method: 'PUT' }).done((resp) => {
      alerta('Status atualizado com sucesso.', 'Sucesso', 'success');
      GeraTabela();
    });
  };
</script>
{% endblock js %}
